* {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  list-style-type: none;
  vertical-align: baseline;
}

html,
body {
  min-height: 100%;
  color: #333;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 10pt;
  padding: 20px;
}

h1 {
  font-size: 2em;
  font-weight: 100;
  margin-bottom: 0.5em;
}

.page {
  background-color: #efefef;
  margin-top: 20px;
  padding: 20px;
  h1 {
    font-size: 1.6em;
  }
}
